@font-face {
  font-family: DINWebPro-Medium;
  src: url("DINWebPro-Medium.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: DINWebPro-Medium;
  src: url("DINWebPro-Medium.woff") format("woff");
}

@font-face {
  font-family: DINWebPro-Bold;
  src: url("DINWebPro-Bold.eot");
}
@font-face {
  font-family: DINWebPro-Light;
  src: url("DINWebPro-Light.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: DINWebPro-Light;
  src: url("DINWebPro-Light.woff") format("woff");
}
/* then for WOFF-capable browsers */
@font-face {
  font-family: DINWebPro-Bold;
  src: url("DINWebPro-Bold.woff") format("woff");
}

/* go on with normal style definitions */
body { 
  font-family: DINWebPro-Medium, sans-serif;
  font-size: 52px;
  font-weight: normal;
  /*color: gray;*/
  background: #ddd;
  line-height: 1.2em;
}

#email {
	font-size: 33px;
}


a:hover {
   
    text-decoration: underline;
}

a:active {
    color: yellow;
} 
a:link {
    
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}
img {
    display: block;
    margin: auto;
  
}
img:hover {
  cursor: pointer;
}
h1 {
  font-family: DINWebPro-Bold, sans-serif;
  font-weight: normal;
	text-align: center;
    }

.footer {
	padding-bottom: 800px;
}

a {
text-decoration: none;

}

.mycontent {
  border: black 10px solid;
  padding: 50px;
}

h4 {
  font-family: DINWebPro-Light, sans-serif;
  font-size: 28px;
  text-align: left;
  font-weight: normal;
  background-color: #595959;
  padding: 30px;
  color: white;
  line-height: 1.2em;
}
h5 {
  font-family: DINWebPro-Light, sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  padding: 30px;
  line-height: 1.35em
}



button {
  font-size: 30px;
  text-align: center;
}

.ok {
    text-align: center;
}
