@font-face {
font-family: 'Myriad Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold'), url('MYRIADPRO-BOLD.woff') format('woff');
}

* {
    box-sizing: border-box;
}

body {
	font-family: 'Myriad Pro Bold', sans-serif;
    color: #212121;
}
.main {
  width: 100vw;
  max-width:100%;
}

#group:hover{
    cursor: pointer;
}

#trust:hover {
	fill: #212121;
	cursor: pointer;
	text-decoration: underline;

}




/*#slanted-yellow polygon:hover {
	fill: black;
	cursor: pointer;

}*/

#boxer {
	-webkit-box-shadow: 7px 17px 41px -9px rgba(0,0,0,0.37);
-moz-box-shadow: 7px 17px 41px -9px rgba(0,0,0,0.37);
box-shadow: 7px 17px 41px -9px rgba(0,0,0,0.37);
}


button.accordion {
	font-family: 'Myriad Pro Bold', sans-serif;
    background-color: #eee;
    color: #212121;
    cursor: pointer;
    padding: 18px;
    width: 30%;
    border: #212121 2px solid;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: .3rem;
	margin-bottom: .3rem;

}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #212121;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    width: 30rem;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.acordion-div{
  width: 60rem;
    margin: 0 auto;
    margin-bottom: 15rem;
}

/* unvisited link */
a:link {
    color:#212121;

text-decoration: none;
border-bottom: 1px dotted #212121;

}

/* visited link */
a:visited {
    color: #212121;
    text-decoration: none;
	border-bottom: 1px dotted #212121;
}

/* mouse over link */
a:hover {
    color: yellow;
    background-color: #212121;
    text-decoration: none;
	border-bottom: 1px dotted yellow;

}

/* selected link */
a:active {
    color: yellow;
    text-decoration: none;
    background-color: #3c46be;
}


/*video embed */

* { box-sizing: border-box; }
.video-background {
  background: white;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: .2;
  background-color: white;
}


@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

