

@font-face {
    font-family: 'Futura Lt BT';
    src: url('FuturaBT-Light.woff2') format('woff2'),
        url('FuturaBT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('BaronNeue.woff2') format('woff2'),
        url('BaronNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('BaronNeueBold.woff2') format('woff2'),
        url('BaronNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
